
revisando/.main.c.swp
tps/TP01/q2_tp01/.vscode/launch.json
tps/TP01/q2_tp01/.vscode/tasks.json
tps/TP01/q2_tp01/a.out
tps/TP01/q2_tp01/main
tps/TP01/q2_tp01/minha.txt
aeds1/recursividade/a.out
tps/TP01/q17_tp01/a.out
